.user-list {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
}

.user-list li {
    margin: 5px 0;
}

.user-list li:first-child {
    margin: 0;
}

.repos-list {
    margin-top: 25px;
}